.selectorableium_cont {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 2;
  display: block;
  box-sizing: border-box; }
  .selectorableium_cont .top {
    border: 1px solid black;
    box-sizing: border-box; }
  .selectorableium_cont .inner_container {
    display: none;
    margin: 0px;
    background-color: green;
    border: 1px solid black;
    position: relative;
    box-sizing: border-box; }
    .selectorableium_cont .inner_container form {
      padding: 0px 0 3px 0;
      margin: 5px;
      position: relative; }
      .selectorableium_cont .inner_container form input {
        width: 100%;
        margin: 0px;
        padding: 4px;
        line-height: 18px;
        height: 26px;
        box-sizing: border-box; }
      .selectorableium_cont .inner_container form .loader {
        background: transparent url("../images/ajax-loader.gif") no-repeat top left;
        width: 16px;
        height: 16px;
        position: absolute;
        top: 5px;
        right: 5px;
        z-index: 1;
        display: none; }
      .selectorableium_cont .inner_container form .XHRCounter {
        height: 3px;
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 0px;
        background-color: black;
        z-index: 1; }
    .selectorableium_cont .inner_container .list_container {
      margin: 0px;
      padding: 0px; }
      .selectorableium_cont .inner_container .list_container li {
        border-bottom: 1px solid orange; }
        .selectorableium_cont .inner_container .list_container li p {
          cursor: default; }
      .selectorableium_cont .inner_container .list_container .item, .selectorableium_cont .inner_container .list_container p {
        padding: 6px 6px 6px 15px;
        line-height: 18px;
        color: black;
        font-weight: bold;
        display: block;
        cursor: pointer;
        overflow: hidden; }
        .selectorableium_cont .inner_container .list_container .item:hover, .selectorableium_cont .inner_container .list_container p:hover {
          text-decoration: none; }
        .selectorableium_cont .inner_container .list_container .item.selected, .selectorableium_cont .inner_container .list_container p.selected {
          background-color: pink; }
        .selectorableium_cont .inner_container .list_container .item .highlight, .selectorableium_cont .inner_container .list_container p .highlight {
          text-decoration: underline;
          color: white; }
  .selectorableium_cont .clearfix {
    zoom: 1; }
    .selectorableium_cont .clearfix:after {
      clear: both; }
    .selectorableium_cont .clearfix:after, .selectorableium_cont .clearfix:before {
      content: "";
      display: table; }
