html {
  height: 100%; }

body {
  background-color: #e8e8e8;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
  color: #333333;
  margin: 0px;
  padding: 70px 0 0px 0;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow-x: hidden; }

h1, h2, h3, p, a {
  color: inherit;
  padding: 0px;
  margin: 0px; }

ul {
  list-style: none; }

button {
  border: 0px none; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

.clearfix {
  zoom: 1; }
  .clearfix:after {
    clear: both; }
  .clearfix:after, .clearfix:before {
    content: "";
    display: table; }

.fancy_box {
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  box-shadow: rgba(0, 0, 0, 0.9) 1px 1px 4px; }

.my_button {
  display: inline-block;
  margin: 0 0 10px 6px;
  border-radius: 2px;
  border: 1px solid #d2d2cf;
  height: 24px;
  cursor: pointer;
  background: url("../images/sprite.png") repeat-x 0 -143px;
  text-align: center;
  padding: 0 20px;
  font-size: 11px;
  font-weight: bold;
  box-shadow: rgba(10, 10, 10, 0.1) 1px 1px 3px; }
  .my_button.big {
    background: url("../images/sprite.png") repeat-x 0 -53px;
    height: 37px;
    font-size: 14px;
    font-weight: normal; }
    .my_button.big:hover, .my_button.big.active {
      background: url("../images/sprite.png") repeat-x 0 -98px; }
  .my_button:hover, .my_button.active {
    background: url("../images/sprite.png") repeat-x 0 -177px;
    border: 1px solid #555;
    color: white;
    box-shadow: rgba(10, 10, 10, 0.4) 1px 1px 3px; }
  .my_button:active {
    border: 1px solid #555;
    box-shadow: rgba(10, 10, 10, 0) 0px 0px 3px; }

.widthator {
  position: relative;
  width: 880px;
  margin: 0 auto; }

#tab_selector {
  position: fixed;
  top: 26px;
  width: 100%;
  background: url("../images/sprite.png") repeat-x 0 0;
  height: 44px;
  z-index: 3; }
  #tab_selector h1 {
    display: block;
    float: left;
    margin: 0 50px 0 20px;
    padding: 0px;
    font-size: 20px;
    font-weight: normal;
    line-height: 44px;
    color: #f78300; }
  #tab_selector button {
    display: block;
    float: left;
    min-width: 80px;
    padding: 0 15px;
    margin: 0px;
    height: 44px;
    border-top: 0px none;
    border-bottom: 0px none;
    border-left: 1px solid #403e3c;
    border-right: 0 none;
    color: #999999;
    font-size: 12px;
    font-weight: bold;
    white-space: nowrap;
    text-align: center;
    background-color: transparent;
    cursor: pointer; }
    #tab_selector button.last {
      border-right: 1px solid #403e3c; }
    #tab_selector button.active {
      color: #e7e7df; }
    #tab_selector button:active {
      background-color: black; }
    #tab_selector button:hover {
      background-color: black; }

#multi_tabs {
  overflow: hidden; }

.tab_extern_cont {
  float: left;
  position: relative;
  height: 100%;
  display: none; }

.tab > header {
  height: 50px; }
  .tab > header h2 {
    font-size: 16px;
    font-weight: bold;
    line-height: 50px;
    color: #f78300;
    display: inline-block;
    margin-left: 10px; }
  .tab > header nav {
    float: right;
    padding-top: 6px; }
    .tab > header nav button {
      width: 170px;
      margin: 0 0 0 16px; }

.tab_boxes_cont {
  border: 1px solid #cfcfcf;
  border-radius: 2px;
  background-color: white;
  margin-bottom: 20px; }
  .tab_boxes_cont .box {
    border-bottom: 1px solid #e7e7df; }
    .tab_boxes_cont .box header {
      padding: 0 10px;
      background-color: #f6f6f6;
      border-bottom: 1px solid #e7e7df;
      height: 57px;
      margin-bottom: 20px; }
      .tab_boxes_cont .box header h3 {
        float: left;
        font-size: 18px;
        font-weight: normal;
        line-height: 57px; }
  .tab_boxes_cont .doc {
    min-height: 300px; }
    .tab_boxes_cont .doc .content {
      padding: 10px 30px 30px 30px; }

.theming_layouts_cont {
  margin: 0 20px 20px 20px;
  line-height: 24px; }
  .theming_layouts_cont button {
    margin: 0 0 0px 6px; }

.theming_pickers_cont {
  border: 1px solid #e7e7df;
  background-color: #f6f6f6;
  padding: 10px 10px 0 10px;
  margin: 0 10px 20px 10px; }
  .theming_pickers_cont ul {
    margin: 0px;
    padding: 0px; }
  .theming_pickers_cont li {
    float: left;
    width: 50%;
    text-align: center;
    height: 36px;
    padding: 0px;
    margin: 0px 0 10px 0; }
    .theming_pickers_cont li p {
      line-height: 36px;
      display: inline-block;
      width: 130px; }
    .theming_pickers_cont li .color_box {
      position: relative;
      display: inline-block;
      padding: 0px;
      margin: 3px;
      width: 30px;
      height: 30px; }
      .theming_pickers_cont li .color_box input {
        cursor: pointer;
        display: inline-block;
        background: url("../images/sprite.png") no-repeat -117px -378px;
        width: 28px;
        height: 28px;
        border: 0px;
        padding: 0px;
        margin: 1px; }
    .theming_pickers_cont li button {
      margin: 0 0 0 6px; }

.theming_data_cont {
  margin: 0 10px 20px 10px;
  padding: 20px;
  position: relative; }

#popup_theming_data_cont .skroutz_popup {
  position: relative;
  display: inline-block;
  z-index: 0; }

.theming_data_inputs_cont {
  float: right;
  padding-top: 15px; }
  .theming_data_inputs_cont label {
    display: inline-block;
    font-size: 12px;
    line-height: 30px;
    font-weight: normal;
    color: #656565;
    margin: 0 10px 0 20px; }
  .theming_data_inputs_cont input {
    border: 1px solid #e7e7df;
    background-color: white;
    border-radius: 2px;
    padding: 5px;
    font-size: 12px;
    line-height: 18px;
    height: 18px;
    width: 110px; }

.theming_pre_cont {
  display: block;
  font-family: Monaco, 'Andale Mono', 'Courier New', monospace;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  overflow: hidden;
  background-color: #FEFBF3;
  padding: 5px;
  border: 1px solid #e7e7df;
  border-radius: 2px;
  margin: 0 20px 20px 20px; }
  .theming_pre_cont ol {
    list-style: decimal; }

#templator_colorpicker_cont {
  background-color: #24221f;
  width: 195px;
  height: 230px;
  position: absolute;
  display: none;
  z-index: 2;
  padding: 1px; }

#templator_colorpicker_input {
  float: left;
  margin: 4px 0 0 6px;
  width: 126px;
  height: 18px;
  border: 1px solid #363F45;
  background-color: white;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 8px inset;
  padding: 3px;
  font-size: 12px;
  line-height: 18px; }

#templator_colorpicker_submit {
  float: right;
  margin: 5px 6px 0 0;
  height: 25px;
  padding: 0px;
  width: 41px; }
