html {
  height: 100%; }

body {
  background-color: #e8e8e8;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
  color: #333333; }

h1, h2, h3, p, a {
  color: inherit;
  padding: 0px;
  margin: 0px; }

ul {
  list-style: none; }

button {
  border: 0px none; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

.clearfix {
  zoom: 1; }
  .clearfix:after {
    clear: both; }
  .clearfix:after, .clearfix:before {
    content: "";
    display: table; }

#test_stuff {
  margin-left: 100px; }
  #test_stuff button {
    float: left;
    clear: both;
    margin: 20px 0 0 20px; }

.input_cont {
  float: left;
  margin: 20px; }
