.selectorableium_cont{
  position:absolute;
  top:0px;
  left:0px;
  width:100%;
  z-index:2;
  display: block;
  box-sizing: border-box;
  .top{
    // border:1px solid black;
    box-sizing: border-box;
    .initial_loader{
      width:100%;
      height:100%;
      display:none;
      box-sizing: border-box;
      background: #888 url("../images/initial-loader.gif") no-repeat 97% 5px;
      opacity: 0.9;
      font-size: 13px;
      padding: 6px 0 0 14px;
      border-radius: 2px;
      color: white;
    }
  }
  .inner_container{
    display:none;
    margin:0px;
    background-color: green;
    border:1px solid black;
    position:relative;
    box-sizing: border-box;
    form{
      padding:0px 0 3px 0;
      margin:5px;
      position:relative;
      input{
        width       : 100%;
        margin      : 0px;
        padding     : 4px;
        line-height : 18px;      
        height      : 18px + 8px;
        box-sizing  : border-box;
      }
      .loader{
        background: transparent url("../images/ajax-loader.gif") no-repeat top left;
        width:16px;
        height:16px;
        position:absolute;
        top: 5px;
        right: 5px;
        z-index:1;
        display:none;
      }
      .XHRCounter{
        height:3px;
        position:absolute;
        bottom:0px;
        left:0px;
        width:0px;
        background-color: black;
        z-index:1;
      }
    }
    .list_container{
      margin:0px;
      padding:0px;
      li{
        border-bottom: 1px solid orange;
        p{
          cursor:default;
        }
      }
      .item, p{
        padding:6px 6px 6px 15px;
        line-height:18px;
        color: black;
        font-weight:bold;
        display:block;
        cursor: pointer;
        overflow: hidden;
        &:hover{
          text-decoration: none;
        }
        &.selected{
          background-color: pink;
        }
        .highlight{
          text-decoration: underline;
          color:white;
        }
      }
    }
  }
  


  .clearfix { 
    zoom: 1; 
    &:after{
      clear: both;
    }
    &:after, &:before{
      content: ""; display: table;
    }
  }
}