//
//THEME COLORS
//
$color_dark: #24221F;
$color_grey_heavy: #363F45;
$color_grey_middle: #4B5F6D;
$color_grey_light: #5E7C88;
$color_orange: #FEB41C;

$c_body_background: #e8e8e8;
$c_external_border: #cfcfcf;
$c_internal_border: #e7e7df;
$c_header_background: #f6f6f6;
$c_orange: #f78300;
$c_color: #333333;
$c_color_active: #FFF;
$c_color_title: #999999;
$c_color_title_active: #e7e7df;
$c_title_border: #403e3c;


//
//SIMPLE RESET
//

html{
  height:100%;
}

body {
  background-color: $c_body_background;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size:12px;
  line-height:18px;
  font-weight:normal;
  color: $c_color;
  // margin: 0px;
  // padding: 70px 0 0px 0;
  // position:absolute;
  // top:0px;
  // left:0px;
  // overflow-x: hidden;
}

h1,h2,h3,p,a{
  color: inherit;
  padding:0px;
  margin:0px;
}

ul{
  list-style:none;
}

button{
  border:0px none;
}

a{
  text-decoration:none;
  // font-size:13px;
  &:hover{
    text-decoration:underline;
  }
}


//
//GENERAL CLASSES
//

.clearfix { 
  zoom: 1; 
  &:after{
    clear: both;
  }
  &:after, &:before{
    content: ""; display: table;
  }
}

#test_stuff{
  margin-left: 100px;
  button{
    float:left;
    clear:both;
    margin:20px 0 0 20px;
  }
}

.input_cont{
  float:left;
  margin:20px;
}