//
//THEME COLORS
//
$color_dark: #24221F;
$color_grey_heavy: #363F45;
$color_grey_middle: #4B5F6D;
$color_grey_light: #5E7C88;
$color_orange: #FEB41C;

$c_body_background: #e8e8e8;
$c_external_border: #cfcfcf;
$c_internal_border: #e7e7df;
$c_header_background: #f6f6f6;
$c_orange: #f78300;
$c_color: #333333;
$c_color_active: #FFF;
$c_color_title: #999999;
$c_color_title_active: #e7e7df;
$c_title_border: #403e3c;


//
//SIMPLE RESET
//

html{
  height:100%;
}

body {
  background-color: $c_body_background;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size:12px;
  line-height:18px;
  font-weight:normal;
  color: $c_color;
  margin: 0px;
  padding: 70px 0 0px 0;
  position:absolute;
  top:0px;
  left:0px;
  overflow-x: hidden;
}

h1,h2,h3,p,a{
  color: inherit;
  padding:0px;
  margin:0px;
}

ul{
  list-style:none;
}

button{
  border:0px none;
}

a{
  text-decoration:none;
  // font-size:13px;
  &:hover{
    text-decoration:underline;
  }
}


//
//GENERAL CLASSES
//

.clearfix { 
  zoom: 1; 
  &:after{
    clear: both;
  }
  &:after, &:before{
    content: ""; display: table;
  }
}

.fancy_box{
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  box-shadow: rgba(0,0,0,0.9) 1px 1px 4px;
  // border-radius:6px;
  // border: 1px solid rgba(0, 0, 0, .4);
  // box-shadow: rgba(255, 255, 255, .4) 0 1px 0 inset, rgba(255, 255, 255, .3) 0 25px 30px -12px inset, rgba(54,63,69, .6) 0 1px 2px;
}

.my_button{
  display:inline-block;
  margin:0 0 10px 6px;
  border-radius:2px;
  border: 1px solid #d2d2cf;
  height: 24px;
  cursor:pointer;
  background: url('../images/sprite.png') repeat-x 0 -143px;
  text-align:center;
  padding: 0 20px;
  font-size:11px;
  font-weight:bold;
  box-shadow: rgba(10, 10, 10, 0.1) 1px 1px 3px;
  
  &.big{
    background: url('../images/sprite.png') repeat-x 0 -53px;
    height: 37px;
    font-size:14px;
    font-weight:normal;
    &:hover, &.active{
      background: url('../images/sprite.png') repeat-x 0 -98px;
    }
  }

  &:hover, &.active{
    background: url('../images/sprite.png') repeat-x 0 -177px;
    border: 1px solid #555;
    color: white;
    box-shadow: rgba(10,10,10,0.4) 1px 1px 3px;
  }

  &:active{
    border: 1px solid #555;
    box-shadow: rgba(10, 10, 10, 0) 0px 0px 3px;
  }
}


//
//LAYOUT
//
.widthator{
  position:relative;
  width: 880px;
  margin:0 auto;
}

#tab_selector{
  position:fixed;
  top:26px;
  width:100%;
  background: url('../images/sprite.png') repeat-x 0 0;
  height: 44px;
  z-index: 3;
  h1{
    display: block;
    float: left;
    margin: 0 50px 0 20px;
    padding: 0px;

    font-size:20px;
    font-weight:normal;
    line-height: 44px;
    color: $c_orange;
  }

  button{
    display:block;
    float:left;
    min-width:80px;
    
    padding: 0 15px;
    margin:0px;

    height:44px;

    border-top:0px none;
    border-bottom:0px none;
    border-left: 1px solid $c_title_border;
    border-right: 0 none;
    
    color: $c_color_title;
    font-size:12px;
    font-weight:bold;
    white-space: nowrap;
    text-align: center;
    
    background-color: transparent;
    cursor: pointer;

    &.last{
      border-right: 1px solid $c_title_border;
    }

    &.active{
      color: $c_color_title_active;
    }
    &:active{
      background-color: black;
    }
    &:hover{
      background-color: black;
    }
  }
}

#multi_tabs{
  overflow:hidden;
}

.tab_extern_cont{
  float:left; 
  position:relative;
  height:100%;
  display:none;
}

.tab{
  > header{
    height:50px;
    h2{
      font-size:16px;
      font-weight:bold;
      line-height:50px;
      color: $c_orange;
      display: inline-block;
      margin-left:10px;
    }
    nav{
      float:right;
      padding-top:6px;
      button{
        width: 170px;
        margin:0 0 0 16px;
      }
    }
  }
}

.tab_boxes_cont{
  border:1px solid $c_external_border;
  border-radius: 2px;
  background-color: white;
  margin-bottom: 20px;
  .box{
    border-bottom: 1px solid $c_internal_border;
    header{
      padding: 0 10px;
      background-color: $c_header_background;
      border-bottom: 1px solid $c_internal_border;
      height:57px;
      margin-bottom:20px;

      h3{
        float:left;
        font-size:18px;
        font-weight:normal;
        line-height:57px;
      }
    }
  }
  .doc{
    min-height:300px;
    .content{
      padding:10px 30px 30px 30px;
    }
  }
}


//
//THEMING STUFF
//
.theming_layouts_cont{
  margin: 0 20px 20px 20px;
  line-height:24px;
  button{
    margin: 0 0 0px 6px;
  }
}

.theming_pickers_cont{
  border:1px solid $c_internal_border;
  background-color: $c_header_background;
  padding: 10px 10px 0 10px;
  margin: 0 10px 20px 10px;
  ul{
    margin:0px;
    padding:0px;
  }
  li{
    float: left;  
    width:50%;
    text-align:center;
    height: 36px;
    padding: 0px;
    margin: 0px 0 10px 0;
    p{
      line-height:36px;
      display: inline-block;
      width:130px;
    }
    .color_box{
      position: relative;
      display:inline-block;
      padding: 0px;
      margin: 3px;
      width: 30px;
      height: 30px;
      input{
        cursor:pointer;
        display:inline-block;
        background: url('../images/sprite.png') no-repeat -117px -378px;
        width: 28px;
        height: 28px;
        border: 0px;
        padding: 0px;
        margin: 1px;
      }
    }
    button{
      margin: 0 0 0 6px;
    }
  }
}

.theming_data_cont{
  margin: 0 10px 20px 10px;
  padding: 20px;
  position:relative;
}

#popup_theming_data_cont{
  .skroutz_popup{
    position: relative;
    display: inline-block;
    z-index: 0;
  }
}

.theming_data_inputs_cont{
  float:right;
  padding-top:15px;
  label{
    display:inline-block;
    font-size:12px;
    line-height:30px;
    font-weight: normal;
    color: #656565;
    margin: 0 10px 0 20px;
  }
  input{
    border: 1px solid $c_internal_border;
    background-color: white;
    border-radius: 2px;
    padding: 5px;
    font-size: 12px;
    line-height:18px;
    height:18px;
    width: 110px;
  }
}

.theming_pre_cont{
  display: block;
  font-family: Monaco, 'Andale Mono', 'Courier New', monospace;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  
  overflow: hidden;
  background-color: #FEFBF3;
  padding: 5px;
  border: 1px solid $c_internal_border;
  border-radius: 2px;
  margin: 0 20px 20px 20px;
  ol{
    list-style: decimal;
  }
}


//
// TEMPLATOR STUFF
//
#templator_colorpicker_cont{
  background-color: $color_dark;
  width: 195px;
  height: 230px;
  position:absolute;
  display:none;
  z-index: 2;
  padding: 1px;
}

#templator_colorpicker_input{
  float:left;
  margin: 4px 0 0 6px;
  width: 126px;
  height: 18px;
  border: 1px solid #363F45;
  background-color: white;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 8px inset;
  padding: 3px;
  font-size: 12px;
  line-height: 18px;
}

#templator_colorpicker_submit{
  float: right;
  margin: 5px 6px 0 0;
  height: 25px;
  padding: 0px;
  width: 41px;
}


//
//PER PLUGIN CSS
//
// @import "popup";
// @import "single";